<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215263094628-sf1noesc1e5789h0vc9cfms58bmt7hnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215263094628-sf1noesc1e5789h0vc9cfms58bmt7hnk</string>
	<key>API_KEY</key>
	<string>AIzaSyDwrW_TXYAxeBpzK20NGw925RU6Jro_61c</string>
	<key>GCM_SENDER_ID</key>
	<string>215263094628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Test.TestApp1</string>
	<key>PROJECT_ID</key>
	<string>prelimfirebasetest</string>
	<key>STORAGE_BUCKET</key>
	<string>prelimfirebasetest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215263094628:ios:a700a9c97b678d6823bc71</string>
	<key>DATABASE_URL</key>
	<string>https://prelimfirebasetest.firebaseio.com</string>
</dict>
</plist>